input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}

.bg-auth {
    background: url('/bgauth.jpg');
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
}


.form-sign {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: rgba(255, 255, 255, 0);
    box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26.5px);

    width: 430px;
    padding: 60px 40px 30px 40px;
}

/* ff8e94 */